*{
    box-sizing:content-box;
}

html,body{
    margin:0;
    padding:0;
}
body {
    background-image: url("https://images.unsplash.com/photo-1630509866816-9737cc76e348?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YWZyaWNhJTIwcHVibGljJTIwdHJhbnNwb3J0YXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh; /*background image take 100% of current height of viewing screen*/
}

.container {
    background: rgba(240, 248, 255, 0.397);
    width: 80vw;
    height: 85vh;
    margin:auto;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 1rem;
    box-shadow: 2px 2px 4px black; 
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0%; 
    padding: 0.5rem 0.8rem;
    text-shadow: 0 1px 3px whitesmoke;
    font-size: 1rem;
}

#count-el {
    font-size: 3.125rem;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border:none;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    color: black;
    font-weight: bold;
    width: 10rem;
    margin-bottom: 5px;
    border-radius: 10px;
}

#btns{
    display:flex;
    flex-direction: column;
    align-items:center;  
}

#increment-btn {
    background:palegreen;
    border:none;
    box-shadow: 0px 3px 4px grey;
}
#increment-btn:hover,
#increment-btn:active,
#increment-btn:focus,
#save-btn:hover,
#save-btn:active,
#save-btn:focus,
#reset-btn:hover,
#reset-btn:active,
#reset-btn:focus {
    box-shadow: 0px 3px 4px black;
}
#increment-btn:hover,
#increment-btn:active,
#increment-btn:focus{
    background: mediumspringgreen;
}

#save-btn {
    background: lightcyan;
    margin-top: 20px;
    border:none;
    box-shadow: 0px 3px 4px grey;
}
#save-btn:hover,
#save-btn:active,
#save-btn:focus {
    background: lightskyblue;
}

#reset-btn{
    background: crimson;
    border:none;
    box-shadow: 0px 3px 4px grey;
    width:4rem;
    font-size:0.8rem;
    box-shadow: 0px -3px 4px darkred inset;
    margin-top:15px;
}

#reset-btn:hover,
#reset-btn:active,
#reset-btn:focus {
    background: red;
}

#save-el{
    color: black;
    text-shadow: 0 1px 3px whitesmoke;
    margin:1rem;
    background:rgba(100, 200, 255, 0.267);
    padding:0.3rem;
    border-radius:6px;
}


@media (min-width: 500px) and (max-width:800px) {
    body{
        background-image:url(https://images.unsplash.com/photo-1630509866931-6bcfcc43db22?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YWZyaWNhJTIwcHVibGljJTIwdHJhbnNwb3J0YXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
        background-size:cover;
    }
    .bigger-container{
        display:flex;
        align-items:center;
    }
    .container {
        max-width: 60%;
        max-height: 80%;
        margin:1.5rem auto;
        border-radius: 10px;
        display:flex;
        flex-direction:column;
        align-items: center;
        background-size:cover;
        box-shadow: 2px 2px 5px black;
    }
}

@media (min-width:800px) {
    .bigger-container{
        width:100%;
        background-color:#0a0a0a;
        height:100%;
        display:flex;
        align-items:center;
    }
    .container {
        background-image:url("https://images.unsplash.com/photo-1589749713937-480cef092f8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Z2hhbmElMjB0cmFuc3BvcnRhdGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"); 
        background-size: cover;
        max-width: 30vw;
        max-height: 90vh;
        margin:1.5rem auto;
        border-radius: 10px;
        display:flex;
        flex-direction:column;
        align-items: center;
        box-shadow: 2px 2px 5px whitesmoke;
    }
}
